@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--very-dark-blue-main-bg);
}

.wrapper {
    width: 330px;
    padding: 20px;
    position: relative;
    border-radius: 13px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.37);
    background: var(--very-dark-blue-card-bg);
}
.wrapper .nft-img {
    position: relative;
    cursor: pointer;
}
.nft-img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 300px;
    visibility: hidden;
    background: hsl(178, 100%, 50%);
    opacity: 0.5;
    border-radius: 10px;
}
.nft-img::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    visibility: hidden;
    top: 50%;
    left: 50%;
    background: url(images/icon-view.svg) no-repeat;
    transform: translate(-50%, -50%);
}
.nft-img:hover::before, .nft-img:hover::after {
    visibility: visible;
}
.wrapper img.equilibrium-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.wrapper hr {
    border: none;
    border-top: 1px solid var(--very-dark-blue-line);
}

.content .text-content {
    margin: 20px 0;
}
.content .text-content h2 {
    color: var(--white);
    cursor: pointer;
}
.content .text-content h2:hover {
    color: var(--cyan);
}
.content .text-content p {
    font-size: 18px;
    margin-top: 20px;
    color: var(--soft-blue);
}

.content .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.content .box .inner-box {
    display: flex;
    align-items: center;
}
.content .inner-box img {
    margin-right: 5px;
}
.content .inner-box.eth strong {
    color: var(--cyan);
}
.content .inner-box.time-left span {
    color: var(--soft-blue);
}

.wrapper .creator {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.creator > img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border: 1px solid var(--white);
    border-radius: 50%;
}
.creator h4 {
    color: var(--soft-blue);
}
.creator span {
    color: var(--white);
    cursor: pointer;
}
.creator span:hover {
    color: var(--cyan);
}

.attribution {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.attribution a {
    color: var(--soft-blue);
}
.attribution a:hover {
    text-decoration: none;
}
